<nav th:fragment="navbar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

     class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a th:href="@{/}"
           class="navbar-brand mx-auto mx-lg-0">
            <i class="bi-bullseye brand-logo"></i>
            <span class="brand-text">The Money <br> Flow</span>
        </a>

        <!--    <a class="nav-link custom-btn btn d-lg-none" href="#">Buy Tickets</a>-->

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link click-scroll"
                       th:href="@{/home}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll"
                       th:href="@{/about}">
                        About
                    </a>
                </li>

                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link click-scroll"
                           th:href="@{/users/register}">
                            Register
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link custom-btn btn d-none d-lg-block"
                           th:href="@{/users/login}">
                            Login
                        </a>
                    </li>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link click-scroll"
                           th:href="@{/users/add}">
                            Add
                        </a>
                    </li>

                    <li class="nav-item">
                        <div class="form-inline my-2 my-lg-0 px-3">
                            <form th:method="post"
                                  th:action="@{/users/logout}">
                                <input class="btn btn-link nav-link"
                                       type="submit"
                                       value="Logout">
                            </form>
                        </div>
                    </li>
                </th:block>

                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link custom-btn btn d-none d-lg-block" -->
                <!--             th:href="@{/users/add}">-->
                <!--            Add-->
                <!--          </a>-->
                <!--        </li>-->

            </ul>
        </div>

    </div>
</nav>