<nav th:fragment="navigation"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

     class="navbar navbar-expand-lg bg-opacity-50 navbar-light fixed-top bg-primary text-uppercase"
>
    <a class="navbar-brandEntity"
       href="/"><img alt="picture"
                     th:src="@{/images/MF2.png}"
                     class="logo"></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto col-12 justify-content-lg-end ">

<!--            <li class="nav-item" sec:authorize="hasRole('ADMIN')">-->
<!--                <a class="nav-link"-->
<!--                   th:href="@{/users/all}">-->
<!--                    All Users-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>

            <th:block sec:authorize="isAnonymous()">


                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>

            </th:block>

            <th:block sec:authorize="isAuthenticated()">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/users/add}">
                        Add
                    </a>
                </li>

                <li class="nav-item">
                    <div class="form-inline my-2 my-lg-0 px-3">
<!--                        <div class="text-white">-->
<!--                            Welcome,-->
<!--                            <th:block sec:authentication="name"/>-->
<!--                            !-->
<!--                        </div>-->
                        <form th:method="post"
                              th:action="@{/users/logout}">
                            <input class="btn btn-link nav-link"
                                   type="submit"
                                   value="Logout">
                        </form>
                    </div>
                </li>
            </th:block>

        </ul>
    </div>
</nav>