<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{/fragments/head}"></th:block>

<body class="index-body">


<div>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>


<div class="container-fluid">
    <h5 class="text-center footer text-dark mt-5">Welcome to The Money Flow</h5>
</div>

<!--<div>-->
<!--    <div class="row">-->
<!--        <form th:method="POST"-->
<!--              th:action="@{/users/register}"-->
<!--              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">-->

<!--            <div class="row">-->
<!--                <div class="form-group col-md-6 mb-3">-->

<!--                    <label class="text-white font-weight-bold">Deposit</label>-->

<!--                    <textarea name="deposit">1500</textarea>-->

<!--                </div>-->

<!--                <div class="form-group col-md-6 mb-3">-->

<!--                    <label class="text-white font-weight-bold">Cash</label>-->

<!--                    <textarea name="deposit">3000</textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<th:block th:insert="~{/fragments/footer}"></th:block>
</body>
</html>
